{% extends 'table.html.twig' %}

{% block body %}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Email</th>
                <th>Roles</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for operateur in operateurs %}
            <tr>
                <td>{{ operateur.id }}</td>
                <td>{{ operateur.nom }}</td>
                <td>{{ operateur.prenom }}</td>
                <td>{{ operateur.email }}</td>
                <td>
                    {% for role in operateur.roles %}
                    {{ role }}
                    <br>
                    {% endfor %}
                </td>

                <td>
                    <a class="btn btn-secondary form-btn" href="{{ path('operateur_show', {'id': operateur.id}) }}">show</a>
                    <a class="btn btn-secondary form-btn" href="{{ path('operateur_edit', {'id': operateur.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary form-btn" href="{{ path('operateur_new') }}">Create new</a>
{% endblock %}
