{% extends 'base.html.twig' %}


{% block body %}


    {% for mat,ex in matiere %}
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse{{ mat }}" aria-expanded="true" aria-controls="collapse{{ mat }}">
                    {{ mat }}
                </button>
            </h2>
            <div id="collapse{{ mat }}" class="accordion-collapse collapse " aria-labelledby="headingOne"
                 data-bs-parent="#accordionExample2">
                <div class="accordion-body">


                    {% for key,typeEx in ex %}

                        <div class="list-group">
                            <a href="{{ path('notes',{'semester':semester, 'filiere':filiere , 'niveau':niveau , 'matiere':mat , 'type':typeEx }) }}" class="list-group-item list-group-item-action" > {{ typeEx }}</a>

                        </div>
                    {% endfor %}







                </div>
            </div>
        </div>
    {% endfor %}









{% endblock %}
